<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>

    <!-- Archivo de estilos -->
    <link rel="stylesheet" href='/frontend/public/css/main.css'>

    <script src="/src/static/js/components/20_navbar.js" defer></script>
    <script src="/src/static/js/components/1_footer.js" defer></script> 
    <script src="/src/static/js/components/20_navbar_general.js" defer></script>
    <script src="/src/static/js/components/1_footer.js" defer></script>
    
    <script src="/src/static/js/components/11_forgot_password.js" defer></script>

</head>


<body class="body-password">
    
    <header class="head">
        <div class="navbar-general-container"></div>
    </header>

    <main class="main">
        <div class="recover-container"></div>
    </main>

    <footer class="footer">
        <div class="footer-container"></div>
    </footer>
   
</body>
</html>