<!DOCTYPE html>
<html lang="es">

<head>
    
  <meta charset="UTF-8">
  <title>AgroNet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Archivo de estilos -->
  <link rel="stylesheet" href='/src/static/css/main.css'>


<!--Enlaces de los componentes en JavaScript-->
  <script src="/src/static/js/components/20_navbar_general.js" defer></script>
  <script src="/src/static/js/components/12_banner.js" defer></script>
  <script src="/src/static/js/components/13_products-index.js" defer></script>
  <script src="/src/static/js/components/14_category-index.js" defer></script>
  <script src="/src/static/js/components/1_footer.js" defer></script>
  
</head>


<body class="body-index">
    
    <header class="head">
        <div class="navbar-general-container"></div>
    </header>

    <main>
        <div class="banner-container"></div>
    </main>

    <main>
        <div class="products-index"></div>
    </main>

    <main>
        <div class="category-index"></div>
    </main>


    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

    
</body>
</html>