<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle Producto - AgroNet</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="/src/static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Scripts -->
  <script src="/src/static/js/components/20_navbar_general.js"></script>
  <script src="/src/static/js/components/0_product_detail.js"></script>
  <script src="/src/static/js/components/26_detail_similar.js" defer></script>
  <script src="/src/static/js/components/24_opinions.js"></script>
  <script src="/src/static/js/components/25_cards_product.js"></script>
  <script src="/src/static/js/components/1_footer.js"></script>

</head>

<body class="body-detail">

  <!-- Navbar -->
  <header class="head">
    <div class="navbar-general-container"></div>
  </header>

  <section class="product-detail">
    <div class="product-detail-container" id="product-detail-container"></div>
  </section>


  <div class="similar-container"></div>
  
  <!-- Contenedor de productos -->
  <section class="products" id="products-detail">
    <!-- Aquí se insertarán dinámicamente las tarjetas -->
  </section>

  <!-- Opiniones -->
  <div id="opinions-container"></div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container"></div>
  </footer>


</body>
</html>