{% extends "base.html" %}
{% load static %}


{% block title %}AgroNet{% endblock %}

{% block body_class %}body-index{% endblock %}

{% block content %}
    
<!-- Contenido de la pagina -->
<div class="register-container">
    {% include "components/4_register-form.html" %}
</div> 

{% endblock %}    

{% block scripts %}  

<script src="{% static 'js/components/4_register-form.js' %}" defer></script>

{% endblock %}
    
    

    


</head>
<body class="body-new_account">
    
    

    



    

    

</body>
</html>