{% extends "base.html" %}
{% load static %}

{% block title %}Perfil Vendedor{% endblock %}

{% block body_class %}body-seller-profile{% endblock %}

{% block content %}



<!-- Contenido principal del perfil -->
  <div class="seller-profile-container">
    {% include "components/33_seller-profile.html" %}
  </div>


  <!-- Productos del vendedor -->
  <section class="products-index">
    <div class="products-index-seller-container">
      {% include "components/34_products-index-seller.html" %}
    </div>
  </section>


{% endblock %}




 



 



  

  

  

 

</body>
</html>