<!DOCTYPE html>
<html lang="es">

<head>
    
  <meta charset="UTF-8">
  <title>AgroNet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Archivo de estilos -->
  <link rel="stylesheet" href='/frontend/public/css/main.css'>


<!--Enlaces de los componentes en JavaScript-->
  <script src="/frontend/public/js/components/20_navbar_general.js" defer></script>
  <script src="/frontend/public/js/components/1_footer.js" defer></script>
  <script src="/frontend/public/js/components/23_whoweare.js" defer></script>
  
</head>


<body class="body-whoweare">
    
    <header class="head">
        <div class="navbar-general-container"></div>
    </header>

    <!-- Contenedor donde se cargará el componente -->
    <div id="about-us-container"></div>


    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

    
</body>
</html>