<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Administración - Banners</title>

  <!-- Estilos globales y del componente -->
  <link rel="stylesheet" href='/frontend/public/css/main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="body-admin">
  <main class="admin-view">
    <div class="navbar-admin-container"></div>
  </main>

  <!-- Script que carga el componente -->
  <script src="/frontend/public/js/components/57_navbar_admin.js"></script>
  <script src="/frontend/public/js/components/56_banners-admin.js"></script>
  <script src="/frontend/public/js/components/58_footer_admin.js"></script>
</body>
</html>
