<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Administrador</title>

  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <!-- Navbar -->
  <div class="navbar-admin-container"></div>

  <!-- Contenido dinámico -->
  <main class="admin-view"></main>

  <!-- Footer -->
  <div class="footer-admin-container"></div>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/frontend/public/js/components/57_navbar_admin.js"></script>
  <script src="/frontend/public/js/components/58_footer_admin.js"></script>
  <script src="/frontend/public/js/components/59_admin_dashboard.js"></script>
</body>
</html>
