/* Componente utilizado en new_account.html de pages-general */

/* ===== Estilos del modal ===== */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--white);
  padding: 50px; 
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: var(--gray-500);
}

.icon {
  font-size: 50px;
  color: var(--primary-500);
  margin-bottom: 16px; /* 1rem 16px */
}
