/* Componente utilizado en product-customer.html (customer-pages), product.html (pages-general) 
y product_seller.html (seller-pages) */

.detail__similar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 0 1rem;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.detail__similar > h2 {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  padding: 0;
  font-size: var(--fs-sm);
  font-weight: bold;
  text-align: left;
}

.detail__similar > .see-more {
  grid-column: 2;
  grid-row: 1;
  margin: 0 0 0.7rem 0;
  padding: 0;
  text-align: right;
  white-space: nowrap;
}

/* El contenedor de las cards */
.detail__similar > .similar__list {
  grid-column: 1 / -1; /* ocupa todas las columnas */
  grid-row: 2;
  width: 100%;
}

/* Estilos del enlace */
.see-more a {
  color: var(--primary-700);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  font-size: var(--fs-xs); /* opcional: ajusta si es muy grande */
}

.see-more a:hover {
  text-decoration: underline;
}

/*Responsive*/

@media (max-width: 639px) {
    .detail__similar{
        margin-bottom: 19px;
        padding: 1.5rem 24px; /* agrega espacio de 24px a los lados */
    }
    
}


/* ======================================== */
/* sm: 640px → celulares grandes           */
/* ======================================== */
@media (min-width: 640px) {
  .detail__similar {
    margin-bottom: 24px;
    padding: 0 2rem;
  }
}

/* ======================================== */
/* md: 768px → tablets                     */
/* ======================================== */
@media (min-width: 768px) {
  /* Sin cambios necesarios en esta resolución*/
}

/* ======================================== */
/* lg: 1024px → laptops                    */
/* ======================================== */
@media (min-width: 1024px) {
}

/* ======================================== */
/* xl: 1280px → desktops                   */
/* ======================================== */
@media (min-width: 1280px) {


  .detail__similar {
    margin-bottom: 24px;
    padding: 0 2rem;
  }
}


/* ======================================== */
/* 2xl: 1536px → desktops grandes          */
/* ======================================== */
@media (min-width: 1536px) {
  .detail__similar {
    max-width: 1600px;
    padding: 0 3rem;
  }
}