/* Componente utilizado en cart-general.html de pages-general  */


.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60rem;
  text-align: center;
  background-color: var(--white);
  font-family: var(--main-font);
}

.empty-cart__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-right: 350px;
  margin: 0 auto;
}

.empty-cart-container{
  margin-bottom: 20rem;
}

.empty-cart__title {
  color: var(--primary-500);
  font-size: var(--fs-md);
  font-weight: bold;
  margin: 0;
}

.empty-cart__button {
  background-color: var(--primary-600);
  color: var(--white);
  border: none;
  padding: 1.6rem;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-cart__button:hover {
  background-color: var(--primary-500);
}

/* =============================== */
/* Responsivo                     */
/* =============================== */

@media (max-width: 640px) {
  .empty-cart {
    height: 50vw;
    margin-top: 20rem;
  }

  .empty-cart-container{
    margin-bottom: 40rem;
  }

}
