/* Componente utilizado en los js #19, #27 y #54 como ventana emergente */

.modal-contact {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-contacts {
  background: var(--white);
  padding: 50px; 
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}


.close1 {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: var(--gray-500);
}


.icon1 {
  font-size: 50px;
  color: var(--primary-500);
  margin-bottom: 16px; /* 1rem 16px */
}
