/* Componente utilizado en form_new_user.html de admin-pages  */

/* FORMULARIO DATOS PERSONALES */

.form-datos {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  font-family: var(--main-font);
}


.form-datos__title {
  text-align: center;
  font-size: var(--fs-md);
  font-weight: bold;
  margin-bottom: 25px;
}

.form-datos__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ✅ dos columnas */
  gap: 16px;
}

.form-datos__group {
  display: flex;
  flex-direction: column;
}

.form-datos__label {
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 5px;
}

.form-datos__input {
  padding: 10px;
  width: 320px;
  margin: 0 auto;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  height: 56px;
  font-size: var(--fs-xs);
}

.form-datos__input:focus {
  outline: none;
  border-color: var(--black);
}

/* Contenedor de los botones fuera del grid */
.form-datos__buttons {
  grid-column: 1 / 3; /* Ocupa las dos columnas */
  display: flex;
  justify-content: space-between; /* Cancelar izquierda / Guardar derecha */
  margin-top: 10px;
}

/* Estilo base de botones ya existente NO lo cambiamos */
.form-datos__button {
  background: var(--secundary-500);
  color: var(--btn-text, var(--white));
  padding: var(--btn-padding-y, 0.5rem) var(--btn-padding-x, 1rem);
  border-radius: var(--btn-border-radius, 0.5rem);
  cursor: pointer;
  min-height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xs);
}

.form-datos__button {
  border: none; /* elimina el borde negro */
}

.form-datos__button:focus {
  outline: none; /*  quita el contorno azul/negro del focus */
}


/* Botón cancelar */
.form-datos__button--cancel {
  background: var(--gray-300);
}

/* Hover */
.form-datos__button--cancel:hover {
  background: var(--gray-200);
  color: var(--white);
}

.form-datos__button--save:hover {
  background: var(--secundary-600);
  color: var(--white);
}

.popup--visible {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.confirm_edit_popup,
.edit_success_popup {
  display: none; 
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

.confirm_edit_popup.show,
.edit_success_popup.show {
  display: flex; 
}














