<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href='/src/static/css/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    

    <!-- Scripts navbar -->
    <script src="/src/static/js/components/5_navbar_seller.js" defer></script>
    <!-- Scripts footer -->
    <script src="/src/static/js/components/1_footer.js" defer></script>
    <script src="/src/static/js/components/28_personaldetailstwo.js" defer></script>
    <script src="/src/static/js/components/27_message-customer.js" defer></script>
    
    

</head>
<body class="body-contact">

    <!-- Navbar -->
    <header class="head">
        <div class="navbar-container"></div>
    </header>

    <!-- Contenido de la pagina -->
    <div class="contacttwo-container"></div>
        
    
    <!-- footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

</body>
</html>