<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link rel="stylesheet" href='/src/static/css/main.css'>
    

    <!-- Scripts navbar -->
    <script src="/src/static/js/components/5_navbar_seller.js" defer></script>
    <!-- Scripts footer -->
    <script src="/src/static/js/components/1_footer.js" defer></script>
    <script src="/src/static/js/components/29_sidebar_profile.js" defer></script>
    <script src="/src/static/js/components/31_my_profile.js" defer></script>
    <script src="/src/static/js/components/39_logout_popup.js" defer></script>
    
    

</head>
<body class="body-profile">


    <!-- Navbar -->
    <header class="head">
        <div class="navbar-container"></div>
    </header>

    <main class="myprofile">
    <!-- Contenido de la pagina -->
        <div class="sidebar-profile"></div>

        <div class="info-profile"></div>
    </main>    
    
    <!-- footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

</body>
</html>