{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle Producto - AgroNet</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Scripts -->
  <script src="/src/static/js/components/5_navbar_seller.js"></script>
  <script src="/src/static/js/components/80_purchase_summary.js"></script> 
  <script src="/src/static/js/components/1_footer.js"></script>

</head>

<body class="summary_purchase">
  

  <!-- Navbar -->
  <header class="head">
    {% include "components/5_navbar_seller.html" %}
  </header>

  <main class="checkout-summary-customer"></main>


  <!-- Footer -->
  <footer class="footer">
    {% include "components/1_footer.html" %}
  </footer>


</body>
</html>