<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
    <link rel="stylesheet" href='/src/static/css/main.css'>


    <script src="/src/static/js/components/5_navbar_seller.js"></script>
    <script src="/src/static/js/components/36_seller_form.js"></script>
    <script src="/src/static/js/components/1_footer.js"></script>
</head>

<body class="seller__form-body">

  <header class="head">
    <div class="navbar-container"></div>
  </header>


  <div class="seller-form-container"></div>


  <footer class="footer">
    <div class="footer-container"></div>
  </footer>


</body>
</html>

