<!-- Contenedor principal de la tarjeta de producto --> 
 <!-- <a href="/frontend/public/views/pages-general/product.html" class="product"> -->
  <!-- Imagen del producto con su respectiva ruta y texto alternativo--> 
   <img src="/frontend/public/assets/manzanagala.jpg" alt="Manzanas" class="product__image"> 
   
   <div class="product__info"> 
    <div class="product__details"> 
      <p class="product__price">$5.000</p> 
      <h3 class="product__name">Manzana Gala</h3> 
      <p class="product__category">Fruta</p> 
    </div> 
    
    <button class="product__btn-add" type="button"> 
      <i class="fa-solid fa-cart-shopping product__icon-cart"></i> Añadir </button> 
  </div> 
</a>

