<section class="category-index">
  <div class="category-index__header">
    <h2 class="category-index__subtitle"><span> Según tus <strong>Gustos</strong></span></h2>
    <p>¡Compra los productos que más te interesen!</p>
  </div>


  <div class="category-index__grid">


    <!-- Tarjeta Animal -->
    <div class="category-index__item">
      <img src="/frontend/public/assets/huevos-transparentes.png" alt="Animal">
      <button class="category__btn">Animal</button>
    </div>

    <!-- Tarjeta Granos -->
    <div class="category-index__item">
      <img src="/frontend/public/assets/granos-transparentes.png" alt="Granos">
      <button class="category__btn">Granos</button>
    </div>

    <!-- Tarjeta Verduras -->
    <div class="category-index__item">
      <img src="/frontend/public/assets/tomates-transparentes.png" alt="Verduras">
      <button class="category__btn">Verduras</button>
    </div>

    <!-- Tarjeta Frutas -->
    <div class="category-index__item">
      <img src="/frontend/public/assets/frutas-transparentes.png" alt="Frutas">
      <button class="category__btn">Frutas</button>
    </div>
  </div>
</section>
