{% load static %}

<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <div class="footer__top">

        <div class="footer__net">
        
            <a href="/who-we-are/" class="footer__contact">
                <img src="{% static 'assets/locate.png' %}"alt="¿Quienes somos?"> ¿Quienes somos?
            </a>
            <a href="/contact/" class="footer__contact">
                <i class="fa-solid fa-house-user footer__wowheare-icon"></i> Contáctanos 
            </a>

        </div>
        
        <ul class="footer__list">

            <div class="footer__icons">

                <li>
                    <a href="#" class="footer__link">
                        <img src="{% static 'assets/instagram.png' %}" alt="Instagram">
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">
                        <img src="{% static 'assets/whatsapp.png' %}" alt="Whatsapp">
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">
                        <img src="{% static 'assets/facebook.png' %}" alt="Facebook">
                    </a>
                </li>

            </div>

        </ul>



    </div>

    <span class="footer__copyright">
        ©2026 Todos los derechos reservados - AgroNet
    </span>
        
        
    
</footer>