<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <div class="footer__top">

        <div class="footer__net">
        
            <a href="whoweare.html" class="footer__contact">
                <img src="/frontend/public/assets/locate.png" alt="¿Quienes somos?"> ¿Quienes somos?
            </a>
            <a href="contact.html" class="footer__contact">
                <i class="fa-solid fa-house-user footer__wowheare-icon"></i> Contáctanos 
            </a>

        </div>
        
        <ul class="footer__list">

            <div class="footer__icons">

                <li>
                    <a href="#" class="footer__link">
                        <img src="/frontend/public/assets/instagram.png" alt="Instagram">
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">
                        <img src="/frontend/public/assets/whatsapp.png" alt="Whatsapp">
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">
                        <img src="/frontend/public/assets/facebook.png" alt="Facebook">
                    </a>
                </li>

            </div>

        </ul>



    </div>

    <span class="footer__copyright">
        ©2026 Todos los derechos reservados - AgroNet
    </span>
        
        
    
</footer>