{% load static %}

<header class="head">
  <nav class="navbar-general">
    
    <div class="navbar__general-brand">
      <img 
      src="{% static 'assets/logo-light-transparent.png' %}" 
      alt="Logo AgroNet" 
      class="navbar__general-logo "
      >
    </div>

    
    <ul class="navbar__general-list">
      <li class="navbar__general-item">
        <a href="/src/templates/pages-general/index.html" class="navbar__general-link">Inicio</a>
      </li>

      <li class="navbar__general-item">
        <a href="/src/templates/pages-general/catalog.html" class="navbar__general-link">Catálogo</a>
      </li>

      <li class="navbar__general-item">
        <a href="/src/templates/pages-general/contact.html" class="navbar__general-link">Contacto</a>
      </li>

      
      <li class="navbar__general-item">
        <a href="/src/templates/pages-general/cart-general.html" class="navbar__general-link navbar__general-link--icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="icon">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 17h-11v-14h-2"/>
            <path d="M6 5l14 1l-1 7h-13"/>
          </svg>
        </a>
      </li>

      
      <li class="navbar__general-item">
        <a href="/src/templates/pages-general/register.html" class="navbar__general-link navbar__general-link--icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="#ffffff" class="icon">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"/>
            <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header> 

