<!-- 
<section class="form-bank-transfer">
  <div class="form-bank-transfer__inner">

    <form class="form-bank-transfer__form">
      <div class="form-bank-transfer__group">
        <label for="banco" class="form-bank-transfer__label">Banco</label>
        <input type="text" id="banco" name="banco" class="form-bank-transfer__input" placeholder="Ej: Bancolombia" required>
      </div>

      <div class="form-bank-transfer__group">
        <label for="cuenta" class="form-bank-transfer__label">Número de cuenta</label>
        <input type="text" id="cuenta" name="cuenta" class="form-bank-transfer__input" placeholder="Ej: 1234567890" required>
      </div>

      <div class="form-bank-transfer__group">
        <label class="form-bank-transfer__label" for="tipo_cuenta">Tipo de cuenta</label>
        <select id="tipo_cuenta" name="tipo_cuenta" class="form-bank-transfer__input" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="Ahorros">Ahorros</option>
          <option value="Corriente">Corriente</option>
        </select>
      </div>

      <div class="form-bank-transfer__group">
        <label for="titular" class="form-bank-transfer__label">Titular de la cuenta</label>
        <input type="text" id="titular" name="titular" class="form-bank-transfer__input" placeholder="Nombre completo" required>
      </div>

      <div class="form-bank-transfer__group">
        <label for="cedula" class="form-bank-transfer__label">Cédula/NIT del titular</label>
        <input type="text" id="cedula" name="cedula" class="form-bank-transfer__input" placeholder="Ej: 1012345678" required>
      </div>

      <div class="form-bank-transfer__group">
        <label for="monto" class="form-bank-transfer__label">Monto a transferir</label>
        <input type="number" id="monto" name="monto" class="form-bank-transfer__input" placeholder="Ej: 500000" required>
      </div>

      <div class="form-bank-transfer__actions">
        <button type="submit" class="bank-transfer__btn">Confirmar</button>
      </div>
    </form>

  </div>
</section> -->