  <!-- Opiniones -->
  <section class="detail-opinions">
    <h2>Califica nuestros productos</h2>
    <div class="detail-opinions__stars">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
    </div>
    <input class="detail-opinions__text" type="text" placeholder="Escribe una opinión..."></input>
    <button class="detail-opinions__btn-publish"><i class="fa-solid fa-paper-plane detail-opinions__icon-publish"></i>Publicar</button>

    <div class="detail-opinions__comments">
      <div class="detail-opinions__comment">
        <div class="detail-opinions__profile">
          <div class="detail-opinions__profile-avatar"></div>
          <span class="detail-opinions__profile-name">Perfil Usuario</span>
        </div>
        <h4 class="detail-opinions__comment-text">Texto...</h4>

      </div>
    </div>
  </section>