  <!-- Opiniones -->
  <section class="detail__opinions">
    <h2>Califica nuestros productos</h2>
    <div class="opinions__stars">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
    </div>
    <input class="opinions__text" type="text" placeholder="Escribe una opinión..."></input>
    <button class="opinions__btn-publish"><i class="fa-solid fa-paper-plane opinions__icon-publish"></i>Publicar</button>

    <div class="opinions__comments">
      <div class="comment">
        <div class="detail__profile">
          <div class="profile__avatar"></div>
          <span class="profile__name">Perfil Usuario</span>
        </div>
        <p class="comment__text">Texto...</p>
      </div>
    </div>
  </section>