<script src="/frontend/public/js/components/39_logout_popup.js" defer></script>
<aside class="sidebar">
  <h2 class="sidebar__title">Mi cuenta</h2>
  <ul class="sidebar__menu">
    <li class="sidebar__option"><a href="/frontend/public/views/customer-pages/my_profile.html">Mi Perfil</a></li>
    <li class="sidebar__option"><a href="/frontend/public/views/customer-pages/notifications.html">Notificaciones</a></li>
    <li class="sidebar__option"><a href="/frontend/public/views/customer-pages/historial_orders.html">Historial de pedidos</a></li>
    <li class="sidebar__option"><a href="/frontend/public/views/customer-pages/start_sales.html">Ventas</a></li>
    <li class="sidebar__option"><a href="/frontend/public/views/customer-pages/generate_report.html">Generar reporte</a></li>
    <li class="sidebar__option"><a href="/frontend/public/views/pages-general/index.html" id="logoutBtn">Cerrar sesión</a></li>
  </ul>
</aside>