<!-- <section class="form">

  <h2 class="form__title">Datos Personales</h2>

  <form class="formulario__form">
    <label class="form__label" for="nombre">Nombre Completo</label>
    <input class="form__input" type="text" id="nombre" name="nombre" placeholder="Tu nombre completo" required>

    <label class="form__label" for="telefono">Teléfono (Opcional)</label>
    <input class="form__input" type="tel" id="telefono" name="telefono" placeholder="Ej: 3201234567">

    <label class="form__label" for="correo">Correo Electrónico</label>
    <input class="form__input" type="email" id="correo" name="correo" placeholder="Ejemplo@correo.com" required>
  </form>
</section> -->