<!--Encabezado de sección (Componente 30.5)-->
<header class="header-section">
    <h2 class="header-section__title">Ventas</h2>
</header>

<!-- COMPONENTE 30 -->
 <section class="seller-activation">
    <div class="seller-activation__card">
        <h3 class="seller-activation__title">¿Quieres publicar productos?</h3>
        <p class="seller-activation__text">
            ¡Para publicar productos, necesitas activar tu cuenta como vendedor!
            
        </p>
        
        <a href="/src/templates/customer-pages/seller_form.html" class="seller-activation__button">Comienza ahora</a>
    </div>
    
</section>