<!--Encabezado de sección (Componente 30.5)-->
<header class="header-section">
    <h2 class="header-section__title">Mi perfil</h2>
</header>

<!-- COMPONENTE 31 -->
<div class="profile">
  <div class="profile__card">
    <div class="profile__avatar-container">
      <div class="profile__avatar">
        <i class="fa-solid fa-user"></i>
        <!--  Ícono de lápiz para editar foto -->
          
        <a href="/src/templates/customer-pages/profile_photo.html" class="profile__edit-avatar-btn">
          <i class="fa-solid fa-pen"></i>
        </a>
      </div>
      <p class="profile__username">@Usuario_1</p>
    </div>
    
    <div class="profile__form">

      <div class="profile__form-legend">Datos personales</div>

      <div class="profile__form-group">
        <input type="text" class="profile__form-input" placeholder="Nombre" disabled>
        <input type="text" class="profile__form-input" placeholder="Apellido" disabled>
      </div>

      <div class="profile__form-group">
        <input type="email" class="profile__form-input" placeholder="Correo electrónico" disabled>
        <input type="tel" class="profile__form-input" placeholder="Número de teléfono" disabled>
      </div>

      <div class="profile__form-legend">Tipo de documento</div>
      <div class="profile__form-group">
        <input type="text" class="profile__form-input" placeholder="Número de documento" disabled>
        <input type="text" class="profile__form-input" placeholder="CC" disabled>
      </div>


      <div class="profile__form-legend">Fecha de nacimiento</div>
      <div class="profile__form-group--date">
        <input type="text" class="profile__form-input--date" placeholder="30" disabled>
        <input type="text" class="profile__form-input--date" placeholder="Mayo" disabled>
        <input type="text" class="profile__form-input--date" placeholder="1990" disabled>
      </div>

      <button class="profile__form-btn profile__form-btn--edit" onclick="window.location.href='/src/templates/customer-pages/edit_account.html'">
        <i class="fa-solid fa-pen"></i> Editar
      </button>
    </div>
  </div>
</div>
