<header class="header-section">
    <h2 class="header-section__title">Historial de pedidos</h2>
</header>

<section class="orders">

  <div class="orders__container orders__list"></div>

  <template class="orders__template">
    <article class="orders__article">
      <!-- Botón X -->
      <button class="orders__article-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="orders__article-info">
        <h3 class="orders__article-id"></h3>
        <span class="orders__article-status"></span>
      </div>
      <a href="/src/templates/seller-pages/order_detail.html" class="orders__article-button">Ver más</a>
    </article>
  </template>

  <!-- Modal: Confirmar eliminar pedido -->
  <div class="orders__modal orders__modal--confirm">
    <div class="orders__modal-content">
      <button class="orders__modal-close">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <div class="orders__modal-icon orders__modal-icon--warning">
        <i class="fa-solid fa-triangle-exclamation"></i>
      </div>

      <p class="orders__modal-message">
        ¿Estás segura de que deseas eliminar este pedido?
      </p>

      <div class="orders__modal-actions">
        <button class="orders__modal-button orders__modal-button--cancel">Cancelar</button>
        <button class="orders__modal-button orders__modal-button--accept">Aceptar</button>
      </div>
    </div>
  </div>

  <!-- Modal: Eliminación exitosa -->
  <div class="orders__modal orders__modal--success">
    <div class="orders__modal-content">
      <button class="orders__modal-close orders__modal-close--success">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <div class="orders__modal-icon orders__modal-icon--ok">
        <i class="fa-solid fa-circle-check"></i>
      </div>

      <p class="orders__modal-message">
        El pedido ha sido eliminado con éxito.
      </p>
    </div>
  </div>

</section>

