<div class="header1">
  <h2 class="header1__title">Generar reporte</h2>
</div>

<div class="report">

  <h3 class="report__title">Reporte</h3>
  <p class="report__subtitle">Generar reporte</p>

  <hr class="report__divider">

  <form class="report__form">

    <div class="report__generate">
      <div class="report__camps">

        <div class="report__group">
          <label class="report__label">Asunto</label>
          <select name="subject" class="report__select" required>
            <option value="">Seleccione una opción</option>
            <option value="report__seller">Reportar Vendedor</option>
            <option value="report__purchase-issue">Problema con la compra</option>
            <option value="report__other">Otro</option>
          </select>
        </div>

        <div class="report__group">
          <label class="report__label">Especificación</label>
          <input type="text"  name="details" class="report__input"  placeholder="Ingrese el nombre de usuario" required>
        </div>
        
      </div>

      <div class="report__message">
        
        <label class="report__label">Mensaje:</label>

        <textarea name="message" class="report__textarea" rows="6" placeholder="texto...texto...texto... Mucho Texto..." required></textarea>
      </div>
    </div>
    
    <button type="submit" class="report__btn report__btn--send">
      <i class="fa-solid fa-paper-plane"></i>
      Enviar
    </button>


  </form>



  <!-- POPUP CONFIRMACIÓN -->
  <div class="report__popup">
    <div class="report__popup-content">
      <p class="report__popup-text">¿Deseas enviar este reporte?</p>
      <div class="report__popup-buttons">
        <button class="report__popup-btn report__popup-btn--cancel">Cancelar</button>
        <button class="report__popup-btn report__popup-btn--accept">Enviar</button>
      </div>
    </div>
  </div>

  <!-- MODAL DE ÉXITO -->
  <div class="report__modal">
    <div class="report__modal-content">
      <button class="report__modal-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <i class="fa-solid fa-circle-check report__modal-icon"></i>
      <h2 class="report__modal-title">Reporte enviado correctamente</h2>
      <p class="report__modal-text">Gracias por tu colaboración.</p>
    </div>
  </div>
</div>

