<!-- Componente: logout_popup.html -->
<div id="logout_popup" class="logout_popup">
  <div class="logout_popup__content">
    <p class="logout_popup__text">
      ¿Estás seguro de que quieres cerrar la sesión?
    </p>
    <div class="logout_popup__buttons">
      <button id="logout_cancel" class="logout_popup__btn logout_popup__btn--cancel">
        <span class="logout_popup__arrow"></span> Cancelar
      </button>
      <button id="logout_accept" class="logout_popup__btn logout_popup__btn--accept">
        Aceptar
      </button>
    </div>
  </div>
</div>

<!-- Modal de éxito -->
<div id="logout_success_modal" class="modal">
  <div class="modal-content">
    <span class="close"><i class="fa-solid fa-xmark"></i></span>
    <div class="icon ok">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <p>La sesión se ha cerrado con éxito.</p>
  </div>
</div>
