<header class="catalog-header">
  <h2 class="catalog-header__title">¡Explora todos nuestros productos!</h2>

  <div class="catalog-header__filters">
    <!-- Buscador -->
    <input
      type="text"
      placeholder="Buscar producto..."
      class="catalog-header__search"
    />

    <!-- Dropdown -->
    <div class="catalog-header__dropdown">
      <button id="catalog-header__dropdown-btn" class="catalog-header__dropdown__button">
        <span class="catalog-header__dropdown__text"><em>Categoría</em></span>
        <i class="fa-solid fa-chevron-down catalog-header__dropdown__icon"></i>
      </button>
      <ul class="catalog-header__dropdown__list">
        <li class="catalog-header__dropdown__item">Fruta</li>
        <li class="catalog-header__dropdown__item">Verdura</li>
        <li class="catalog-header__dropdown__item">Grano</li>
        <li class="catalog-header__dropdown__item">Animal</li>
        <li class="catalog-header__dropdown__item">Cereales</li>
      </ul>
    </div>
  </div>
</header>

<hr class="catalog-header__divider" />