<aside class="sidebar">
  <div class="sidebar__list">Mi cuenta</div>
  <ul class="sidebar__menu">
    <li class="sidebar__option"><a href="/src/templates/seller-pages/my_profile.html">Mi Perfil</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/profile_store.html">Mi Tienda</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/notfications.html">Notificaciones</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/historial_orders.html">Historial de pedidos</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/address_book.html">Libreta de contactos</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/my_products.html">Mis productos</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/generate_report.html">Generar reporte</a></li>
    <li class="sidebar__option"><a href="/src/templates/seller-pages/disabled_products.html">Mis productos deshabilitados</a></li>
    <li class="sidebar__option"><a href="/src/templates/pages-general/index.html" class="sidebar__option-logoutBtn">Cerrar sesión</a></li>
  </ul>
</aside>

<script src="/src/static/js/components/39_logout_popup.js" defer></script>