

<!-- Contenedor derecho (título + productos) -->
<section class="disabled-product">
  <div class="disabled-product__header2">
    <h2 class="disabled-product__header2-title">Productos Deshabilitados</h2>
  </div>

  <!-- Este es el contenedor donde se insertarán las cards -->
  <div class="disabled-product__list disabled_product_container">
    <!-- Aquí se agregarán los productos dinámicamente -->
  </div>
</section>

<!--Template separado del contenedor -->
<template class="disabled_product__template">
  <div class="disabled-product__card">
    <img src="" alt="Imagen del producto" class="disabled-product__image">
    <div class="disabled-product__info">
      <p class="disabled-product__name"></p>
      <p class="disabled-product__price"></p>
      <p class="disabled-product__type"></p>
      <button class="disabled-product__btn">Habilitar</button>
    </div>
  </div>
</template>

<!-- Modal de éxito -->
<div class="disabled-product__modal">
  <div class="disabled-product__modal-content">
    
    <button class="disabled-product__modal-close">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="disabled-product__modal-icon">
      <i class="fa-solid fa-circle-check"></i>
    </div>

    <p class="disabled-product__modal-message">
      El producto se ha habilitado correctamente.
    </p>
  </div>
</div>
