<!-- Sidebar (menú lateral) -->
<aside class="sidebar-seller"></aside>

<!-- Contenedor derecho (título + productos) -->
<section class="disabled-products2">
  <div class="header2">
    <h2 class="header2__title">Libreta de contactos</h2>
  </div>

  <!-- Este es el contenedor donde se insertarán las cards -->
  <div class="disabled-products__list2" id="disabled_products_container2">
    <!-- Aquí se agregarán los productos dinámicamente -->
  </div>
</section>

<!--Template separado del contenedor -->
<template id="disabled_product_template2">
  <div class="disabled-product__card2">
    <!-- Botón de opciones (tres puntitos) -->
    <div class="card-options">
      <button class="options-btn">⋮</button>
      <div class="options-menu">
        <button class="option-item view-profile">Visualizar perfil</button>
        <button class="option-item delete-contact">Eliminar</button>
      </div>
    </div>
    <div class="disabled-product__info2">
      <p class="disabled-product__name2"></p>
      <!-- Nuevo contenedor para que price y type estén juntos -->
      <div class="disabled-product__bottom2">
        <p class="disabled-product__price2"></p>
        <p class="disabled-product__mail2"></p>
        <p class="disabled-product__type2"></p>
      </div>
    </div>
  </div>
</template>

<!-- Popup de confirmación para eliminar -->
<div id="delete_popup" class="logout_popup">
  <div class="logout_popup__content">
    <p class="logout_popup__text">
      ¿Estás seguro de que quieres eliminar este contacto?
    </p>
    <div class="logout_popup__buttons">
      <button id="delete_cancel" class="logout_popup__btn logout_popup__btn--cancel">
        <span class="logout_popup__arrow"></span> Cancelar
      </button>
      <button id="delete_accept" class="logout_popup__btn logout_popup__btn--accept">
        Aceptar
      </button>
    </div>
  </div>
</div>

<!-- Popup de confirmación para eliminar -->
<div id="delete_popup" class="logout_popup">
  <div class="logout_popup__content">
    <p class="logout_popup__text">
      ¿Estás seguro de que quieres eliminar este contacto?
    </p>
    <div class="logout_popup__buttons">
      <button id="delete_cancel" class="logout_popup__btn logout_popup__btn--cancel">
        <span class="logout_popup__arrow"></span> Cancelar
      </button>
      <button id="delete_accept" class="logout_popup__btn logout_popup__btn--accept">
        Aceptar
      </button>
    </div>
  </div>
</div>

<!-- Modal de éxito -->
<div id="delete_success_modal" class="modal">
  <div class="modal-content">
    <span class="close"><i class="fa-solid fa-xmark"></i></span>
    <div class="icon ok">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <p>El contacto se ha eliminado con éxito.</p>
  </div>
</div>



