<!--Encabezado de sección (Componente 30.5)-->
<header class="header-section">
    <h2 class="header-section__title">Libreta de contactos</h2>
</header>

<!-- Contenedor donde se insertarán las cards -->
<div class="address-book__list"></div>

<!-- Template de tarjeta -->
<template class="address-book__template">
  <div class="address-book__card">

    <div class="address-book__options">
      <button class="address-book__options-btn">⋮</button>

      <div class="address-book__options-menu">
        <button class="address-book__option address-book__option--profile">Visualizar perfil</button>
        <button class="address-book__option address-book__option--delete">Eliminar</button>
      </div>
    </div>

    <div class="address-book__info">
      <p class="address-book__name"></p>

      <div class="address-book__bottom">
        <p class="address-book__label address-book__label--username"></p>
        <p class="address-book__label address-book__label--mail"></p>
        <p class="address-book__label address-book__label--phone"></p>
      </div>
    </div>
  </div>
</template>

<!-- Popup único de confirmación -->
<div class="address-book__popup">
  <div class="address-book__popup-content">

    <p class="address-book__popup-text">
      ¿Estás seguro de que quieres eliminar este contacto?
    </p>

    <div class="address-book__popup-buttons">
      <button class="address-book__popup-btn address-book__popup-btn--cancel">
        Cancelar
      </button>

      <button class="address-book__popup-btn address-book__popup-btn--accept">
        Aceptar
      </button>
    </div>

  </div>
</div>

<!-- Modal de éxito -->
<div class="address-book__modal">
  <div class="address-book__modal-content">

    <span class="address-book__modal-close">
      <i class="fa-solid fa-xmark"></i>
    </span>

    <div class="address-book__modal-icon">
      <i class="fa-solid fa-circle-check"></i>
    </div>

    <p class="address-book__modal-text">
      El contacto se ha eliminado con éxito.
    </p>
  </div>
</div>