<section class="body-notify-container">
  <div class="body-notify__mynotify">
    <!-- Contenedor principal del bloque -->
    <div class="body-notify__profile">
      <header class="body-notify__header1">
        <h2 class="body-notify__header1-title">Notificaciones</h2>
      </header>

      <div class="body-notify">
        <h3 class="body-notify__title">Centro de notificaciones</h3>
        <p class="body-notify__subtitle">Últimos avisos de tu cuenta</p>
        <hr class="body-notify__divider" />

        <div class="body-notify__content">
          <a href="/src/templates/seller-pages/customer-profile.html" class="body-notify__item notify__item--unread">
            <h4 class="body-notify__item-title">Nueva visualizacion recibida</h4>
            <p class="body-notify__item-text">
              Marco Antonio Solis a visualizado tu perfil..
            </p>
            <span class="body-notify__item-date">Hace 2 minutos</span>
          </a>

          <a href="/src/templates/seller-pages/my_products.html" class="body-notify__item">
            <h4 class="body-notify__item-title">Producto registrado</h4>
            <p class="body-notify__item-text">
              Tu producto <strong>Tomates Cherry</strong> fue registrado correctamente.
            </p>
            <span class="body-notify__item-date">Hace 1 hora</span>
          </a>

          <a href="/src/templates/seller-pages/my_profile.html" class="body-notify__item">
            <h4 class="body-notify__item-title">Actualización de perfil</h4>
            <p class="body-notify__item-text">
              Se actualizó la información de tu perfil con éxito.
            </p>
            <span class="body-notify__item-date">Ayer</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>