<section class="body-notify">
  <div class="mynotify">
    <!-- Contenedor principal del bloque -->
    <div class="notify-profile">
      <header class="header1">
        <h2 class="header1__title">Notificaciones</h2>
      </header>

      <div class="notify">
        <h3 class="notify__title">Centro de notificaciones</h3>
        <p class="notify__subtitle">Últimos avisos de tu cuenta</p>
        <hr class="notify__divider" />

        <div class="notify__content">
          <a href="/frontend/public/views/customer-pages/seller_profile_customer.html" class="notify__item notify__item--unread">
            <h4 class="notify__item-title">Nueva visualizacion recibida</h4>
            <p class="notify__item-text">
              Juan Luis Guerra a visualizado tu perfil..
            </p>
            <span class="notify__item-date">Hace 2 minutos</span>
          </a>

          <a href="/frontend/public/views/customer-pages/seller_form.html" class="notify__item">
            <h4 class="notify__item-title">¡Registrate y vende!</h4>
            <p class="notify__item-text">
              Registrate ahora de manera gratuita y vende tus deliciosos productos.
            </p>
            <span class="notify__item-date">Hace 1 hora</span>
          </a>
          

          <a href="/frontend/public/views/customer-pages/my_profile.html" class="notify__item">
            <h4 class="notify__item-title">Actualización de perfil</h4>
            <p class="notify__item-text">
              Se actualizó la información de tu perfil con éxito.
            </p>
            <span class="notify__item-date">Ayer</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
