<header class="header-section">
    <h2 class="header-section__title">Historial de pedidos</h2>
</header>


<section class="orders">
  

  <div class="orders__container orders__list"></div>

  <template class="orders__template">
    <article class="orders__article">
      <!-- Botón X -->
      <button class="orders__article-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="orders__article-info">
        <h3 class="orders__article-id"></h3>
        <span class="orders__article-status"></span>
      </div>
      <a href="/src/templates/customer-pages/order-detail-customer.html" class="orders__article-button">Ver más</a>
    </article>
  </template>

</section>
