<header class="head">
  <nav class="navbar">
    <!-- Marca -->
    <div class="navbar__brand">
      <span class="navbar__logo"></span>
      <img src="/frontend/public/assets/logo-light-transparent.png" alt="Logo AgroNet" class="navbar__logo">
    </div>

    <!-- Lista de navegación -->
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="index-customer.html" class="navbar__link">Inicio</a>
      </li>

      <li class="navbar__item">
        <a href="catalog-customer.html" class="navbar__link">Catálogo</a>
      </li>

      <li class="navbar__item">
        <a href="contact-customer.html" class="navbar__link">Contacto</a>
      </li>

      <!-- Carrito -->
      <li class="navbar__item">
        <a href="/frontend/public/views/customer-pages/cart-customer.html" class="navbar__link navbar__link--icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="icon">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 17h-11v-14h-2"/>
            <path d="M6 5l14 1l-1 7h-13"/>
          </svg>
        </a>
      </li>

      <!-- Usuario -->
      <li class="navbar__item">
        <a href="/frontend/public/views/customer-pages/my_profile.html" class="navbar__link navbar__link--icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="#ffffff" class="icon">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"/>
            <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"/>
          </svg>
        </a>
      </li>

      
    </ul>
  </nav>
</header>
