<section class="admin-products">
  <header class="admin-products__header">
    <h2 class="admin-products__title">Gestión de Productos</h2>
    <div class="admin-products__actions">
      <a href="/src/templates/admin-pages/form_new_product.html" class="admin-products__btn admin-products__btn--add"><i class="fa-solid fa-plus"></i>Nuevo producto</a>
      <input type="text" class="admin-products__search" placeholder="Buscar producto...">
    </div>
  </header>

  <div class="admin-products__table-container">
    <table class="admin-products__table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Valor Unitario</th>
          <th>Stock</th>
          <th>Descripción</th>
          <th>Unidad Peso</th>
          <th>Peso</th>
          <th>Tipo Envío</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="admin-products__body">
        <!-- Productos inyectados por JS -->
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="admin-products__modal" id="productModal">
    <div class="admin-products__modal-content">
      <h3 class="admin-products__modal-title">Detalles del Producto</h3>
      <div class="admin-products__modal-body"></div>
      <button class="admin-products__btn admin-products__btn--close">Cerrar</button>
    </div>
  </div>
  <!-- Popup de confirmación -->
  <div id="confirm_delete_popup" class="popup">
    <div class="popup-content">
      <span class="close-popup"><i class="fa-solid fa-xmark"></i></span>
      <p>¿Estás seguro de que deseas eliminar este producto?</p>
      <div class="popup-buttons">
        <button class="btn cancel">Cancelar</button>
        <button class="btn accept">Aceptar</button>
      </div>
    </div>
  </div>

  <!-- Popup de éxito -->
  <div id="delete_success_popup" class="popup">
    <div class="popup-content">
      <span class="close-popup"><i class="fa-solid fa-xmark"></i></span>
      <div class="icon_1_2 ok">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <p>El producto se ha eliminado con éxito.</p>
    </div>
  </div>

</section>
