
<template>
  <main class="edit-product">
    <div class="edit-product__left-side">
      <div class="edit-product__image">
        <img src="/src/static/assets/cafe.jpg" alt="Imagen del producto">
      </div>
      <div class="edit-product__field edit-product__field--vendor">
        <label for="vendor">Tipo de envío</label>
        <input type="text" placeholder="Opcional">
      </div>
    </div>

    <div class="edit-product__right-side">
      <div class="edit-product__field edit-product__field--name">
        <label for="nombre">Nombre del producto</label>
        <input type="text">
      </div>

      <div class="edit-product__field edit-product__field--description">
        <label for="description">Descripción</label>
        <textarea></textarea>
      </div>

      <div class="edit-product__field edit-product__field--category edit-product__dropdown">
        <label for="category">Categoría</label>
        <select name="category" class="edit-product__select-hidden" required>
          <option value="" disabled selected hidden></option>
          <option value="frutas">Frutas</option>
          <option value="verduras">Verduras</option>
          <option value="granos">Granos</option>
          <option value="animal">Animal</option>
        </select>
        <div class="edit-product__dropdown-wrapper">
          <div class="edit-product__dropdown-trigger">
            <span>Selecciona una opción</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="edit-product__dropdown-options">
            <span class="edit-product__dropdown-option" data-value="frutas">Frutas</span>
            <span class="edit-product__dropdown-option" data-value="verduras">Verduras</span>
            <span class="edit-product__dropdown-option" data-value="granos">Granos</span>
            <span class="edit-product__dropdown-option" data-value="animal">Animal</span>
          </div>
        </div>
      </div>

      <div class="edit-product__field edit-product__field--unit edit-product__dropdown">
        <label for="unit">Unidades de Peso</label>
        <select name="unit" class="edit-product__select-hidden" required>
          <option value="" disabled selected hidden></option>
          <option value="kilogramo">Kilogramo</option>
          <option value="gramo">Gramo</option>
          <option value="tonelada">Tonelada</option>
          <option value="libra">Libra</option>
          <option value="onza">Onza</option>
          <option value="arroba">Arroba</option>
          <option value="bulto">Bulto</option>
        </select>
        <div class="edit-product__dropdown-wrapper">
          <div class="edit-product__dropdown-trigger">
            <span>Selecciona una opción</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="edit-product__dropdown-options">
            <span class="edit-product__dropdown-option" data-value="kilogramo">Kilogramo</span>
            <span class="edit-product__dropdown-option" data-value="gramo">Gramo</span>
            <span class="edit-product__dropdown-option" data-value="tonelada">Tonelada</span>
            <span class="edit-product__dropdown-option" data-value="libra">Libra</span>
            <span class="edit-product__dropdown-option" data-value="onza">Onza</span>
            <span class="edit-product__dropdown-option" data-value="arroba">Arroba</span>
            <span class="edit-product__dropdown-option" data-value="bulto">Bulto</span>
          </div>
        </div>
      </div>

      <div class="edit-product__field edit-product__field--price">
        <label for="price">Precio</label>
        <input type="number">
      </div>

      <div class="edit-product__field edit-product__field--weight">
        <label for="weight">Peso</label>
        <input type="number">
      </div>

      <div class="edit-product__field edit-product__field--worth">
        <label for="precio">Valor unitario</label>
        <input type="number">
      </div>

      <div class="edit-product__field edit-product__field--stock">
        <label for="stock">Stock</label>
        <input type="number">
      </div>
    </div>
  </main>

  <button class="edit-product__btn-edit">
    <i class="fa-solid fa-pen"></i> Editar
  </button>

  <div id="edit-product__confirm-modal" class="edit-product__modal">
    <div class="edit-product__modal-content confirm">
      <p>¿Estás segura de que deseas editar este producto?</p>
      <div class="edit-product__modal-buttons">
        <button id="cancel_edit" class="edit-product__modal-btn edit-product__modal-btn--cancel">
           Cancelar
        </button>
        <button id="accept_edit" class="edit-product__modal-btn edit-product__modal-btn--accept">
          Aceptar
        </button>
      </div>
    </div>
  </div>

  <div id="edit-product__success-modal" class="edit-product__modal">
    <div class="edit-product__modal-content">
      <span class="edit-product__modal-close" id="close_edit_success"><i class="fa-solid fa-xmark"></i></span>
      <div class="edit-product__modal-icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <p>El producto se ha editado con éxito.</p>
    </div>
  </div>

</template>