<section class="form-datos">
  <h2 class="form-datos__title">Nuevo producto</h2>

  <form class="form-datos__form">

    <div class="form-datos__group">
      <label class="form-datos__label" for="nombre">Nombre</label>
      <input class="form-datos__input" type="text" name="nombre" required>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="categoria">Categoria</label>
      <select class="form-datos__input" type="text" name="categoria" required>
        <option value="">Seleccionar</option>
        <option value="Frutas">Frutas</option>
        <option value="Verduras">Verduras</option>
        <option value="Granos">Granos</option>
        <option value="Animal">Animal</option>
      </select>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="precio">Precio</label>
      <input class="form-datos__input" type="number" name="precio" required>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="valor_unitario">Valor Unitario</label>
      <input class="form-datos__input" type="number" name="valor_unitario" required>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="stock">Stock</label>
      <input class="form-datos__input" type="number" name="stock" required>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="unidad_peso">Unidad de peso</label>
      <select class="form-datos__input" name="unidad_peso" required>
        <option value="">Seleccionar</option>
        <option value="Kg">Kilogramo</option>
        <option value="G">Gramo</option>
        <option value="Ton">Tonelada</option>
        <option value="Lb">Libra</option>
        <option value="Oz">Onza</option>
        <option value="@">Arroba</option>
        <option value="Bulto">Bulto</option>
      </select>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="descripcion">Descripción</label>
      <textarea class="form-datos__input" name="descripcion" required></textarea>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="peso">Peso</label>
      <input class="form-datos__input" type="number" name="peso" required>
    </div>

    <div class="form-datos__group">
      <label class="form-datos__label" for="tipo_envio">Tipo de envío</label>
      <select class="form-datos__input" type="text" name="tipo_envio" required>
        <option value="">Seleccionar</option>
        <option value="Normal">Normal</option>
        <option value="Refrigerado">Refrigerado</option>
        <option value="Al_vacio">Al vacio</option>
      </select>
    </div>

    <div class="form-datos__buttons">
      <a href="/src/templates/admin-pages/products.html" class="form-datos__button form-datos__button--cancel">Cancelar</a>
      <button class="form-datos__button form-datos__button--save" type="submit">Guardar</button>
    </div>

  </form>
</section>

<div class="popup popup--success">
  <div class="popup__content">
    <span class="popup__close">
      <i class="fa-solid fa-xmark"></i>
    </span>
    <div class="popup__icon popup__icon--ok">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <p class="popup__message">El producto se ha registrado con éxito.</p>
  </div>
</div>