<h2 class="product-cart__title">Carrito de compras</h2>
<!-- caja 1 -->
<div class="product-cart">
  <button type="button" class="product-cart__delete" aria-label="Eliminar">✕</button>

  <img src="/src/static/assets/manzan.jpg" alt="Producto" class="product-cart__img">

  <div class="product-cart__details">
    <p class="producto-cart__details-name">Manzana Gala</p>
  </div>

  <div class="product-cart__boxes">

    <div class="product-cart__quantity">
      <label for="cantidad-1">Cantidad</label>
      <div class="product-cart__counter">
        <button class="product-cart__counter-button">-</button>
        <input type="text" value="5" readonly class="product-cart__counter-input">
        <button class="product-cart__counter-button">+</button>
      </div>
    </div>

    <div class="product-cart__price">
      <label for="precio-1">Precio Unidad</label>
      <input type="text" value="5.000" readonly class="product-cart__price-input">
    </div>

    <div class="product-cart__total">
      <label for="total-1">Total</label>
      <input type="text" value="25.000" readonly class="product-cart__total-input">
    </div>
  </div>
</div>
<!-- caja 2 -->
<div class="product-cart">
<button type="button" class="product-cart__delete" aria-label="Eliminar">✕</button>

  <img src="/src/static/assets/naranja.jpg" alt="Producto" class="product-cart__img">

<div class="product-cart__details">
<p class="producto-cart__details-name">Naranja</p>
  </div>

  <div class="product-cart__boxes">

    <div class="product-cart__quantity">
      <label for="cantidad-2">Cantidad</label>
      <div class="product-cart__counter">
        <button class="product-cart__counter-button">-</button>
        <input type="text" value="3" readonly class="product-cart__counter-input">
        <button class="product-cart__counter-button">+</button>
      </div>
    </div>

    <div class="product-cart__price">
      <label for="precio-2">Precio Unidad</label>
      <input type="text" value="5.500" readonly class="product-cart__price-input">
    </div>

    <div class="product-cart__total">
      <label for="total-2">Total</label>
      <input type="text" value="16.500" readonly class="product-cart__total-input">
    </div>

  </div>

</div>

<!-- caja 3 -->
<div class="product-cart">
  <button type="button" class="product-cart__delete" aria-label="Eliminar">✕</button>

  <img src="/src/static/assets/cafe.jpg" alt="Producto" class="product-cart__img">

  <div class="product-cart__details">
    <p class="producto-cart__details-name">Cafe 400gr</p>
  </div>

  <div class="product-cart__boxes">

    <div class="product-cart__quantity">
      <label for="cantidad-3">Gramos</label>
      <div class="product-cart__counter">
        <button class="product-cart__counter-button">-</button>
        <input type="text" value="1" readonly class="product-cart__counter-input">
        <button class="product-cart__counter-button">+</button>
      </div>
    </div>

    <div class="product-cart__price">
      <label for="precio-3">Precio Unidad</label>
      <input type="text" value="31.000" readonly class="product-cart__price-input">
    </div>

    <div class="product-cart__total">
      <label for="total-3">Total</label>
      <input type="text" value="31.000" readonly class="product-cart__total-input">
    </div>

  </div>

</div>

<!-- caja 4 -->
<div class="product-cart">
  <button type="button" class="product-cart__delete" aria-label="Eliminar">✕</button>

  <img src="/src/static/assets/lechuga.jpg" alt="Producto" class="product-cart__img">

  <div class="product-cart__details">
      <p class="producto-cart__details-name">Lechuga</p>
  </div>

  <div class="product-cart__boxes">

    <div class="product-cart__quantity">
      <label for="cantidad-3">Gramos</label>
      <div class="product-cart__counter">
        <button class="product-cart__counter-button">-</button>
        <input type="text" value="1" readonly class="product-cart__counter-input">
        <button class="product-cart__counter-button">+</button>
      </div>
    </div>

    <div class="product-cart__price">
      <label for="precio-3">Precio Unidad</label>
      <input type="text" value="21.000" readonly class="product-cart__price-input">
    </div>

    <div class="product-cart__total">
      <label for="total-3">Total</label>
      <input type="text" value="21.000" readonly class="product-cart__total-input">
    </div>

  </div>

</div>
