<h2 class="cart__title">Carrito de compras</h2>
<main class="cart__container">

  <!-- caja 1 -->
  <div class="product__cart">
    <button type="button" class="product__cart-delete" aria-label="Eliminar">✕</button>

    <img src="/Frontend/public/assets/manzan.jpg" alt="Producto" class="product__cart-img">

    <div class="product__cart-details">
      <p class="producto__carrito__detalles__nombre">Manzana Gala</p>
    </div>

    <div class="product__cart-boxes">

      <div class="product__cart-quantity">
        <label for="cantidad-1">Cantidad</label>
        <div class="product__cart-counter">
          <button class="product__cart-counter__btn">-</button>
          <input type="text" id="cantidad-1" value="5" readonly class="product_cart-counter__input">
          <button class="product__cart-counter__btn">+</button>
        </div>
      </div>

      <div class="product__cart-price">
        <label for="precio-1">Precio Unidad</label>
        <input type="text" id="precio-1" value="5.000" readonly class="product__cart-price__input">
      </div>

      <div class="product__cart-total">
        <label for="total-1">Total</label>
        <input type="text" id="total-1" value="25.000" readonly class="product__cart-total__input">
      </div>
    </div>
  </div>

  <!-- caja 2 -->
  <div class="product__cart">
    <button type="button" class="product__cart-delete" aria-label="Eliminar">✕</button>

    <img src="/Frontend/public/assets/naranja.jpg" alt="Producto" class="product__cart-img">

    <div class="product__cart-details">
      <p class="producto__carrito__detalles__nombre">Naranja</p>
    </div>

    <div class="product__cart-boxes">

      <div class="product__cart-quantity">
        <label for="cantidad-2">Cantidad</label>
        <div class="product__cart-counter">
          <button class="product__cart-counter__btn">-</button>
          <input type="text" id="cantidad-2" value="3" readonly class="product__cart-counter__input">
          <button class="product__cart-counter__btn">+</button>
        </div>
      </div>

      <div class="product__cart-price">
        <label for="precio-2">Precio Unidad</label>
        <input type="text" id="precio-2" value="5.500" readonly class="product__cart-price__input">
      </div>

      <div class="product__cart-total">
        <label for="total-2">Total</label>
        <input type="text" id="total-2" value="16.500" readonly class="product__cart-total__input">
      </div>

    </div>

  </div>

  <!-- caja 3 -->
  <div class="product__cart">
    <button type="button" class="product__cart-delete" aria-label="Eliminar">✕</button>

    <img src="/Frontend/public/assets/cafe.jpg" alt="Producto" class="product__cart-img">

    <div class="product__cart-details">
      <p class="producto__carrito__detalles__nombre">Cafe 400gr</p>
    </div>

    <div class="product__cart-boxes">

      <div class="product__cart-quantity">
        <label for="cantidad-3">Gramos</label>
        <div class="product__cart-counter">
          <button class="product__cart-counter__btn">-</button>
          <input type="text" id="cantidad-3" value="1" readonly class="product__cart-counter__input">
          <button class="product__cart-counter__btn">+</button>
        </div>
      </div>

      <div class="product__cart-price">
        <label for="precio-3">Precio Unidad</label>
        <input type="text" id="precio-3" value="31.000" readonly class="product__cart-price__input">
      </div>

      <div class="product__cart-total">
        <label for="total-3">Total</label>
        <input type="text" id="total-3" value="31.000" readonly class="product__cart-total__input">
      </div>

    </div>

  </div>

  <!-- caja 4 -->
  <div class="product__cart">
    <button type="button" class="product__cart-delete" aria-label="Eliminar">✕</button>

    <img src="/Frontend/public/assets/lechuga.jpg" alt="Producto" class="product__cart-img">

    <div class="product__cart-details">
      <p class="producto__carrito__detalles__nombre">Lechuga</p>
    </div>

    <div class="product__cart-boxes">

      <div class="product__cart-quantity">
        <label for="cantidad-3">Gramos</label>
        <div class="product__cart-counter">
          <button class="product__cart-counter__btn">-</button>
          <input type="text" id="cantidad-3" value="1" readonly class="product__cart-counter__input">
          <button class="product__cart-counter__btn">+</button>
        </div>
      </div>

      <div class="product__cart-price">
        <label for="precio-3">Precio Unidad</label>
        <input type="text" id="precio-3" value="21.000" readonly class="product__cart-price__input">
      </div>

      <div class="product__cart-total">
        <label for="total-3">Total</label>
        <input type="text" id="total-3" value="21.000" readonly class="product__cart-total__input">
      </div>

    </div>

  </div>

</main>
