
 <section class="checkout-summary">
  <h2 class="checkout-summary__title">Resumen de tu pedido</h2>

  <div class="checkout-summary__vendors checkout-summary__vendors--js"></div>

  <button class="checkout-summary__confirm-btn checkout-summary__confirm-btn--js">
    Confirmar pedido
  </button>
</section>

<div class="checkout-summary__popup checkout-summary__popup--confirm">
  <div class="checkout-summary__popup-content">
    <span class="checkout-summary__popup-close"></span>
    <p>¿Estás seguro de que deseas confirmar tu pedido?</p>
    <div class="checkout-summary__popup-buttons">
      <button class="checkout-summary__btn checkout-summary__btn--cancel">Cancelar</button>
      <button class="checkout-summary__btn checkout-summary__btn--accept">Aceptar</button>
    </div>
  </div>
</div>

<div class="checkout-summary__popup checkout-summary__popup--success">
  <div class="checkout-summary__popup-content">
    <span class="checkout-summary__popup-close"><i class="fa-solid fa-xmark"></i></span>
    <div class="checkout-summary__popup-icon checkout-summary__popup-icon--ok">
      <i class="fa-solid fa-circle-check"></i>
    </div>
    <p>¡Tu pedido ha sido enviado correctamente!</p>
  </div>
</div>