<div class="login__background"></div>
<main class="login__main">
    <section class="login__box">
        <h2 class="login__title">Iniciar sesión</h2>
        <hr class="login__divider">
        <form class="login__form" action="/frontend/public/views/customer-pages/index-customer.html" method="get">
            <input class="login__input" type="text" placeholder="Correo electrónico, teléfono o usuario" required>
            <input class="login__input" type="password" placeholder="Contraseña" required>
            <button class="login__button" type="submit">Iniciar sesión</button></a>
        </form>
        <a href="/frontend/public/views/pages-general/forgot_password.html" class="login__forgot">¿Olvidaste tu contraseña?</a>
        <hr class="login__divider">
        <a href="/frontend/public/views/pages-general/new_account.html"><button class="login__button login__button--secondary" type="button">Crear cuenta nueva</button></a>
    </section>
</main>