<main class="cart-page">
  <section class="cart-products">
    <!-- Aquí se cargan los productos del carrito -->
    <div id="container__component"></div>
  </section>

  <aside class="cart-summary">
    <!-- Aquí va tu componente de resumen -->
    <section class="summary__product">
      <div class="summary__product-description">
        <p class="summary__product-description__texto">Resumen de compra</p>
      </div>

      <div class="summary__product-detail">
        <div class="summary__product-field">
          <label class="summary__txt">Total productos</label>
          <input type="text" id="total__productos" value="4" readonly class="summary__product-input">
        </div>
        <div class="summary__product-field">
          <label class="summary__txt">Total a pagar</label>
          <input type="text" id="total__pagar" value="93.500" readonly class="summary__product-input">
        </div>
      </div>

      <a href="/frontend/public/views/seller-pages/purchase_summary_seller.html" class="summary__product-btn-pay">
        Continuar
      </a>
    </section>
  </aside>
</main>
