<section class="summary-cart">

  <div class="summary-cart___products">
    
  </div>

  <aside class="summary-cart__aside">
    <div class="summary-cart__description">
      <p class="summary-cart__description-text">Resumen de compra</p>
    </div>

    <div class="summary-cart__details">
      <div class="summary-cart__field">
        <label class="summary-cart__label">Total productos</label>
        <input type="text" value="4" readonly class="summary-cart__input">
      </div>
      <div class="summary-cart__field">
        <label class="summary-cart__label">Total a pagar</label>
        <input type="text" value="93.500" readonly class="summary-cart__input">
      </div>
    </div>

    <a href="/src/templates/seller-pages/purchase_summary_seller.html" class="summary-cart__button">
      continuar
    </a>
  </aside>
</section>
