@import url('reset.css');
@import url('variables.css');                                   
@import url('layout.css');
@import url('pages/home.css');
@import url('themes/dark-mode.css');


/* Components */
@import url('components/0_product_detail.css');
@import url('components/1_footer.css');
/*@import url('components/2_form.css'); - DELETED */
@import url('components/3_drop-down_list.css');
@import url('components/4_form_new_account.css');
@import url('components/5_navbar_seller.css');
/*@import url('components/6_edit_profile.css'); - DELETED*/
@import url('components/7_product_cart.css');
@import url('components/8_form_register.css');
@import url('components/9_summary.css');
@import url('components/10_product-card.css');
@import url('components/11_forgot_password.css');
@import url('components/12_banner.css');
@import url('components/13_products-index.css');
@import url('components/14_category-index.css');
@import url('components/15_contact-two.css');
@import url('components/16_create_product.css');
@import url('components/17_my_products.css');
@import url('components/18_personal_details.css');
@import url('components/19_message.css');
@import url('components/20_navbar_general.css');
@import url('components/21_popup.css');
@import url('components/22_form-bank-transfer.css');
@import url('components/23_whoweare.css');
@import url('components/24_opinions.css');
@import url('components/25_cards_product.css');
@import url('components/26_detail_similar.css');
@import url('components/29_sidebar_profile.css');
@import url('components/30_start_sales.css');
@import url('components/31_my_profile.css');
@import url('components/32_historial_orders.css');
@import url('components/33_profile_seller.css');
/*@import url('components/34_cards_profile_seller.css'); - DELETED*/
/*@import url('components/35_product_detail_customer.css'); - DELETED*/
@import url('components/36_seller_form.css');
@import url('components/37_profile_store.css');
@import url('components/38_generate_report.css');
@import url('components/39_logout_popup.css');
@import url('components/41_cart_general.css');
@import url('components/42_disabled_products.css');
@import url('components/43_navbar_seller2.0.css');
@import url('components/45_order_detail.css');
@import url('components/46_address_book.css');
@import url('components/47_notifications-sidebar.css');
@import url('components/48_notifications-sidebar-customer.css');
@import url('components/49_profile-customer.css');
@import url('components/50_order_detail_customer.css');
@import url('components/51_historial_orders_customer.css');
@import url('components/52_popup_contact.css');
/*@import url('components/53_product_detail_seller.css'); - DELETED*/

/* Admin Components */
@import url('components/56_banners-admin.css');
@import url('components/57_navbar_admin.css');
@import url('components/58_footer_admin.css');
@import url('components/59_admin_dashboard.css');
@import url('components/60_edit_store.css');
@import url('components/63_edit_product.css');
@import url('components/67_profile_photo.css');
@import url('components/61_admin_users.css');
@import url('components/62_admin_products.css');
@import url('components/64_admin_order.css');
@import url('components/65_admin_categories.css');
@import url('components/66_admin_reports.css');
@import url('components/68_admin_settings.css');
@import url('components/69_form_new_user_admin.css');
@import url('components/74_form_new_banner_admin.css');
@import url('components/79_purchase_summary_seller.css');