<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <!-- Archivo de estilos -->
    <link rel="stylesheet" href='/frontend/public/css/main.css'>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>


    <!-- Scripts navbar -->
    <script src="/frontend/public/js/components/43_navbar_seller2.0.js" defer></script>

    <!-- Scripts footer -->
    <script src="/frontend/public/js/components/1_footer.js" defer></script>

    <!-- Script que insertará el producto en el carrito -->
    <script src="/frontend/public/js/components/7_product_cart.js"></script>

    <script defer src="/Frontend/public/assets/manzan.jpg" ></script>

    <!-- Script que insertará el resumen del producto -->
    <script src="/frontend/public/js/components/9_summary.js"></script>
    

</head>
<body class="body-cart">

    <!-- Navbar -->
    <header class="head">
        <div class="navbar-seller-container"></div>
    </header>

    <!-- Contenido de la pagina -->
    
    <div id="container__component"></div>

    <div id="summary__product__container"></div>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

</body>
</html>