<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear producto - AgroNet</title>

  <!-- Estilos globales -->
  <link rel="stylesheet" href="/src/static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- Scripts navbar -->
  <script src="/src/static/js/components/43_navbar_seller2.0.js" defer></script>
  <!-- Scripts footer -->
  <script src="/src/static/js/components/1_footer.js" defer></script>

  <!-- Script del componente -->
  <script src="/src/static/js/components/63_edit_product.js" defer></script>
</head>
<body class="body-edit-product">

  <!-- Navbar -->
  <header class="head">
    <div class="navbar-seller-container"></div>
  </header>

  <!-- Aquí se inserta el componente -->
  <form-edit></form-edit>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container"></div>
  </footer>

</body>
</html>
