<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
    <link rel="stylesheet" href='/src/static/css/main.css'>


    <script src="/src/static/js/components/43_navbar_seller2.0.js"></script>
    <script src="/src/static/js/components/60_edit_store.js"></script>
    <script src="/src/static/js/components/1_footer.js"></script>
</head>

<body class="seller__edit-body">

  <header class="head">
    <div class="navbar-seller-container"></div>
  </header>

  <div class="store-edit-container"></div>

  <footer class="footer">
    <div class="footer-container"></div>
  </footer>


</body>
</html>

