<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi tienda - AgroNet</title>

  <!-- Estilos globales -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">

  <script src="/frontend/public/js/components/43_navbar_seller2.0.js" defer></script>
  <script src="/frontend/public/js/components/79_purchase_summary_seller.js"></script>
  <script src="/frontend/public/js/components/1_footer.js" defer></script>

</head>

<body class="summary_purchase">

  <!-- Navbar -->
  <header class="head">
    <div class="navbar-seller-container"></div>
  </header>
  <main>
    <div class="checkout-summary-container"></div>
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container"></div>
  </footer>

</body>
</html>


